[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 #default_ccache_name = KEYRING:persistent:%{uid}
 default_realm = {{ domain | upper }}

[realms]
  {{ domain | upper }} = {
    admin_server = {{ dc | upper }}
    kdc = {{ dc | upper }}
  }

[domain_realm]
 {{ domain | lower }} = {{ domain | upper }}
 .{{ domain | upper }} = {{ domain | upper }}